
.fontSize5 { font-size: 0.5em; }
.fontSize6 { font-size: 0.6em; }
.fontSize7 { font-size: 0.7em; }
.fontSize8 { font-size: 0.8em; }
.fontSize9 { font-size: 0.9em; }
.fontSize10 { font-size: 1em; }
.fontSize11 { font-size: 1.1em; }
.fontSize12 { font-size: 1.2em; }
.fontSize13 { font-size: 1.3em; }
.fontSize14 { font-size: 1.4em; }
.fontSize15 { font-size: 1.5em; }
.fontSize16 { font-size: 1.6em; }
.fontSize17 { font-size: 1.7em; }
.fontSize18 { font-size: 1.8em; }
.fontSize19 { font-size: 1.9em; }
.fontSize20 { font-size: 2em; }
.fontSize21 { font-size: 2.1em; }
.fontSize22 { font-size: 2.2em; }
.fontSize23 { font-size: 2.3em; }
.fontSize24 { font-size: 2.4em; }
.fontSize25 { font-size: 2.5em; }
.fontSize26 { font-size: 2.6em; }
.fontSize27 { font-size: 2.7em; }
.fontSize28 { font-size: 2.8em; }
.fontSize29 { font-size: 2.9em; }
.fontSize30 { font-size: 3em; }